[Unit]
Description=Oracle daily job

[Service]
Type=simple
EnvironmentFile=%h/.cargo/env
ExecStart=%h/oracle/systemd/daily.sh

[Install]
WantedBy=default.target
