[Unit]
Description=Oracle daily job

[Service]
Type=simple
EnvironmentFile=/root/.cargo/env
ExecStart=/root/oracle/systemd/daily.sh

[Install]
WantedBy=default.target
